body {
    font-family: 'default';
    background-image: linear-gradient(rgb(29, 2, 10), rgb(0, 0, 0));
    backdrop-filter:blur(5px);
}
.logoText {
    position: absolute; 
    top: -2; 
    left: 35;
    color: rgba(255, 255, 255, 1);
    font-family: 'default';
}
.logoButtonImage {
    position: absolute; 
    top: 16;
    left: 10;
}
a:active {
    text-decoration: none;
    color: transparent; 
}
a:hover {
    text-decoration: none;
    color: transparent; 
}
a:focus {
    text-decoration: none;
    color: transparent; 
}
a:visited {
    text-decoration: none;
    color: transparent; 
}